//Colors
$grey: #969696;
$grey-dark: #333;
$red: #fd1111;
$green: #b7e886;
$blue: #4990e1;
$light-grey: #e6e6e6;
$black: #000;
$user-bg: #009688;
$white: #fff;

//PlayFair Font
$play-reg: "PlayfairDisplay-Regular", serif;
$play-bold: "PlayfairDisplay-Bold", serif;
$play-black: "PlayfairDisplay-Black", serif;

//WorkSans Font
$worksans-light: "WorkSans-Light", sans-serif;
$worksans-reg: "WorkSans-Regular", sans-serif;
$worksans-medium: "WorkSans-Medium", sans-serif;
$worksans-semi: "WorkSans-SemiBold", sans-serif;
$worksans-bold: "WorkSans-Bold", sans-serif;
$worksans-extra: "WorkSans-ExtraBold", sans-serif;
$worksans-black: "WorkSans-Black", sans-serif;